/**
 * Learning App
 * Descriptions.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 2/7/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * Style the descriptions box
 */

#descriptions { /* the main container for descriptions - siblings with #links */
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  width: 55%;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 3px solid #90CC4E;
  border-radius: 13px;
  background-color: #FFFDE4;
  box-shadow: inset 100px 150px 600px -40px rgba( 100, 100, 100, 0.1);
}
