/**
 * Learning App
 * Icons.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 2/7/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * Style all the Icons. User adds specific icons in this file
 */

.icon { /* the actual icon image itself */
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  animation-fill-mode: forwards;
}

.icon:hover { /* hover effect for the icon img */
  animation-name: hover_icon;
  animation-duration: 0.5s;
}

#collision_icon { /* @overide icon */
  border: 1px solid rgb( 150, 150, 150 );
  box-shadow: 1px 1px 0px 0px #84788E,
              1px 1px 3px 3px rgb( 90, 90, 90 );
}

#circular_motion_icon { /* @overide icon */
  border: 1px solid rgb( 50, 50, 50 );
  box-shadow: 1px 1px 0px 0px #24720E,
              1px 1px 3px 3px rgb( 90, 90, 90 );
}