/**
 * Learning App
 * Sims.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 2/0/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * Style the main elements of the page
 */

html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  
  background: rgb( 238 , 239 , 241 );
  font-family: Courier;
}

body {
  min-height: 100%;
}

#title { /* the title for the sims_wrapper */
  text-align: center;
  color: #444;
  font-size: 40px;
  margin: 5px 5% 0px 5%;
  padding-left: 10px;
  text-decoration: underline;
  -webkit-mask-image: url("../assets/grit.png");
  mask-image: url("../assets/grit.png");
}

#sims_wrapper { /* the wrapper containing all the sims */
  margin: 4% 5% 20% 5%;
  display: flex;
  flex-direction: column;
}

.title_wrapper { /* the wrapper for the part where the user clicks */
  width: 450px;
  margin: 0 auto;
  height: 55px;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title_wrapper:hover {
  color: #900;
  cursor: pointer;
  text-decoration: underline;
}

.description { /* the description of the simulation */
  display: none;
  margin: 20px 5%;
  flex-direction: column;
  font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
  color: #111;
  font-size: 13px;
  width: 471px;
  margin: 5px auto;
  
}
 /* @overide .sim only used when removing the simulation */
.removeDescription {
  margin: -20px auto 80px auto; 
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 3px;
  background: #D1D1D1;
  border-radius: 8px 8px 6px 6px;
  box-shadow: 0px 2px 0px 0px #777777,
              2px 3px 6px 0px #999999;
  -webkit-animation-play-state: paused;
  animation-name: removeDescription;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
}

.screenshot {
  width: 600px; /* 16:9 ratio */
  margin-left: -65px;  
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
}

.screenshot:hover {
  cursor: pointer;
}

.description h3 {
  color: #00a6d3;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.back_to_dashboard {
  /* the back to dashboard button */
  border-radius: 50%;
  height: 100%;
  width: 100%;
  box-shadow: 1px 2px 5px 2px #4D4E4E;
  margin-bottom: -5%;
}

.back_to_dashboard:hover {
  /* the back to dashboard button IMAGE */
  cursor: pointer;
}

#back_to_dashboard_button {
  /* the back to dashboard button Container*/
  width: 90px;
  height: 90px;
  margin: auto auto 2% 0%;
}
