/*  styling for the app icons 
    appIcons.css
    learning app
    Created by Brandon Li on 1/11/19.
    Copyright © 2019 Brandon Li. All rights reserved. 
*/
.app {
    display: flex;
    /* app icons are 140px + the border of the app*/
    flex-direction: column;
    flex-basis: calc( 140px + 2*3px );
    margin: 15% 3%;
}

.app input{
    border : 2px solid rgb( 80, 80, 80 );
    border-radius: 40px;
}
.app input:focus{
    outline:0;
}

.app p{
    text-align: center;
    font-size: 95%;
    margin-top: 1%;
}

#app_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}