/**
 * Learning App
 * AppIcons.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 1/11/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * Style the app icons, style the overiden app icons.
 */

.app {
  /* The container a single app */
  display: flex;
  /* use flex box, the image goes on top of the label */
  flex-direction: column;
  flex-basis: calc( 140px + 2*3px );
  margin: 18% 3.5%;
  font-family: Courier;
  color: #364049;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.app input {
  /* This is the actual app icon */
  border-radius: 30px;
  width: 140px;
  height: 140px;
  animation-fill-mode: forwards;
}

.app input:focus {
  /* no outline */
  outline: 0;
}

.app input:hover {
  animation-name: hoverApp;
  animation-duration: 0.5s;
}

.app p {
  /* This is the label for the app */
  text-align: center;
  margin-top: 165px;
  position: fixed;
  width: 140px;
}


@keyframes hoverApp {
  0% {
    /* starting positions */
    -webkit-transform: scale( 1 );
    -ms-transform: scale( 1 );
    transform: scale( 1 );
    /* use positions fized to not effect its siblings */
    position:fixed;
    -webkit-transform: rotate( 0deg ); 
  }
  35% {
    /* 1st part of the animation is to flip it */
    -webkit-transform: rotate( 360deg );
  }
  42% {
    /* jiggle to the right and make the border go out */
    -webkit-transform: translateX( 1px );
    transform: translateX( 1px );
    padding: 25px;
    margin: -25px;
  }

  60% {
    /* jiggle back, inlarge the app keeping the border out and away */
    -webkit-transform: translateX( -1px );
    transform: translateX( -1px );
    -webkit-transform: scale( 1.13 );
    -ms-transform: scale( 1.13 );
    transform: scale( 1.13 );
    border: 3px solid #333;  
    padding: 25px;
    margin: -25px;
  }
  100% {
    /* final position: inlarge it, make the border go back in slightly */
    -webkit-transform: translateX( 0 );
    transform: translateX( 0 );
    -webkit-transform: scale( 1.2 );
    -ms-transform: scale( 1.2 );
    transform: scale( 1.2 );
    padding: 5px;
    margin: -5px;
    border: 3px solid #333;
    border-style: solid;
    -moz-transform: rotate( 180deg );
    position:fixed;
  }
}


/* Overide for customized app box shawdows */
#simulations input {
  box-shadow: 0px 0px 0px 0.5px #44386E,
              1px 1px 3px 3px #6D7E8E;
}

#calculator input {
  box-shadow: 0px 0px 0px 1px #444,
              1px 1px 7px 3px #6D6E6E;

}

#planner input {
  box-shadow: 0px 0px 0px 1.5px #800080,
              1px 1px 6px 3px #606181;
  
}