/**
 * Learning App
 * AppIcons.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 1/11/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * style the app icons
 */
.app {
  display: flex;
  /* app icons are 140px + the border of the app*/
  flex-direction: column;
  flex-basis: calc( 140px + 2*3px );
  margin: 18% 3.5%;
  font-family: Courier;
  color: #364049;
  font-size: 18px;
  font-weight: 600;
  position: relative;

}

.app input{
  border-radius: 30px;
  width: 140px;
  height: 140px;
  animation-fill-mode: forwards;
}

#Simulations input{
  box-shadow: 0px 0px 0px 0.5px #44386E,
              1px 1px 3px 3px #6D7E8E;
}

#Calculator input{
  box-shadow: 0px 0px 0px 1px #444,
              1px 1px 7px 3px #6D6E6E;
}

#Planner input{
  box-shadow: 0px 0px 0px 1.5px #800080,
              1px 1px 6px 3px #606181;
}

.app input:focus{
  outline:0;
}

.app input:hover{
  animation-name: hover;
  animation-duration: 0.5s;
}

.app p{
  text-align: center;
  margin-top: 165px;
  position: fixed;
  width: 140px;

}

#app_wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


@keyframes hover {

  0%{
    -webkit-transform: scale( 1 );
    -ms-transform: scale( 1 );
    transform: scale( 1 );
     position:fixed;

  }
  5%{
    -webkit-transform: translateX( 10px );
    transform: translateX( 10px );
  }
  15%{
    -webkit-transform: translateX( -10px );
    transform: translateX( -10px );
  }
  20%{
    -webkit-transform: translateX( -5px );
    transform: translateX( -5px );
  }
  30%{
    -webkit-transform: translateX( 5px );
    transform: translateX( 5px );
    
  }
  45%{
    -webkit-transform: translateX( 1px );
    transform: translateX( 1px );
    padding: 30px;
    margin: -30px;
  }

  60%{
    -webkit-transform: translateX( -1px );
    transform: translateX( -1px );
    -webkit-transform: scale( 1.13 );
    -ms-transform: scale( 1.13 );
    transform: scale( 1.13 );
    border: 3px solid #333;  
    -webkit-transform: rotate( 30deg ); 
  }
  100%{
    -webkit-transform: translateX( 0 );
    transform: translateX( 0 );
    -webkit-transform: scale( 1.2 );
    -ms-transform: scale( 1.2 );
    transform: scale( 1.2 );
    padding: 5px;
    margin: -5px;
    border: 3px solid #333;
    border-style: solid;
    -moz-transform: rotate( 180deg );
    -webkit-transform: rotate( 3deg );
    position:fixed;

  }
}