/*    dashboard.css
      learning app
      Created by Brandon Li on 1/11/19.
      Copyright © 2019 Brandon Li. All rights reserved. 
*/
html, body{
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background: #BCB8B1;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

#main_wrapper {
    box-sizing: border-box;
    padding: 0 0 71px;
    position: relative;
    height: 93%; /*the footer is 7%*/
    display: flex;
}

