/**
 * Learning App
 * Dashboard.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 1/11/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * style the main elements of the page
 */
html, body{
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background: #DEDAD8;
    font-family: "Verdana" , Geneva, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

#main_wrapper {
    box-sizing: border-box;
    padding: 0 0 71px;
    position: relative;
    height: 88%; /*the footer is 12%*/
    display: flex;
}

