[submodule "CollisionTheory"]
	path = CollisionTheory
	url = https://github.com/brandonLi8/Collision-Theory
[submodule "CircularMotion"]
	path = CircularMotion
	url = https://github.com/brandonLi8/Circular-Motion
