/**
 * Learning App
 * Header.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 1/23/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * Style the header
 */

#header {
  /* The header wrapper */
  position: fixed;
  width: 100%;
  height: 9%; min-height: 71px;
  margin: 0;
  background-color: #3B4851;
  top: 0; left: 0;
  text-align: center;
  z-index: 1;
}

#header #left {
  /* The content wrapper for the header */
  width: 90%;
  height: 100%;
  margin-left:6%; 
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

#planner_icon {
  /* The planner icon */
  width: 50px;
}

#header_content {
  /* The wrapper of the text */
  border-right: 2px solid #6E7881;
  color: #C6D0D9;
  font-size: 18px;
  height: 26px;
  padding-right: 2.2%;
  padding-left: 2.2%;
  margin: auto 0; /* center vertically */
  animation-fill-mode: forwards;
}

#header_content:hover {
  /* hover effect */
  cursor: pointer;
  color: #FFFFFF;
  animation-name: hoverText;
  animation-duration: 0.5s;
}

@keyframes hoverText {
  from {
    border-radius: 30%;
  }
  to {
    border-radius: 5px;
    box-shadow: -1px -1px 0px 4px #3B4851, 
                -1px -1px 0px 5px #777777;
  }
}
