/**
 * Learning App
 * NEw.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 1/30/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * style the new page
 */
#backToDashboardButton{
  display: flex;
  height: 90px;
}

#NewTitle{
  width: 100%;
  margin-right: 90px;
  font-size: 60px;
}

html{
  min-height: 105%;
}

#titleLabel{
  margin-top: 50px;
  font-size: 20px;
  text-align: left;
  width: 50%;
  margin: auto;
}

textarea{
  height: 100%;
  background: none;
  font-family: Courier;
  outline: 0;
  border: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
  background: #FFFFFF;
  border-radius: 5px 5px 4px 4px;
  border: 1px solid #777777;
  box-shadow: 0px 2px 0px 0px #777777,
              2px 3px 6px 0px #999999;
  font-size: 18px;
  color: #333;
}

#title{
  width: 50%;
  min-height: 40px;
}

#description{
  width: 50%;
  min-height: 160px;
}

#tags{
  width: 50%;
  min-height: 80px;
}

#enter{
  width: 17%;
  margin: 40px 30% 0px auto;
  padding: 15px 32px; 
  border-radius: 15px;
  outline: 0;
  font-size: 18px;
  font-family: Courier;
  background-color: #FFF;
  color: #000;
  border: none;
  box-shadow: 0px 0px 0px 2px #777777,
              2px 3px 6px 0px #999999;
}

#enter:focus{
  box-shadow: 0 0 3pt 2pt #569;
}

#enter:hover{
  cursor: pointer;
  box-shadow: 0 0 3pt 2pt #569;
}
