/**
 * Coveral
 * Planner.css
 *
 * @author Brandon Li <brandon.li820@icloud.com>
 * Created on 1/22/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * Style the main elements of the page
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

html {
  background: rgb( 238 , 239 , 241 );
  background-color: hsl(220, 1.24, 94.51);
  min-height: 210%;
}

body {
  background: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: #333;
}

#planner_wrapper {
  /* main wrapper for the planner */
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Courier;
}

#none {
  /* the wrapper for the text that pops up when the user has no plans */
  padding: 45px 35px;
  width: 25%;
  border: none;
  font-size: 25px;
  margin: 10% auto;
}

#none a {
  /* the actual text */
  color: #55E;
  font-size: 20px;
  text-decoration: underline;
}


