/*    learn.css
      learning app
      Created by Brandon Li on 1/11/19.
      Copyright © 2019 Brandon Li. All rights reserved. 
*/

html, body{
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

html {
    background: #cfcfcf;
}
body {
    background: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    color: #333;
}
#footer-container {
    width: 80%;
    height: 71px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 23px;
    transition: color 0.25s, background 0.25s;
}

.left {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.right {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;  
}

li {   
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    height: 34px;
    margin-left: 20px;
    transition: background 0.25s;
}

a {
    color: blue;
        border : 3px solid rgb(0,0,0);


}

#footer {
    position: fixed;
    width: 100%;
    height: 80px;
    margin: 0;
    color: #707070;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    background-color: #adadad;
}
#main_wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 71px;
    position: relative;
    height: 100%;
    border : 3px solid rgb(0,0,0);
}