.slider {

  border-radius: 5px;  /*specified*/  
  background: #000000; /*specified*/
  outline: none;
  opacity: /*specified*/;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; /*specified*/
  height: 25px; /*specified*/
  border-radius: 50%;  
  background: #4CAF50; /*specified*/
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}