/**
 * Learning App
 * buttons.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 1/17/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * Style the buttons
 */
.c_row {
  /* the container for each row on the calculator */ 
  margin:  0;
  display: flex;
  flex-direction: row;
}
/**
 * common styling for all the buttons
 */ 
.c_button, 
.c_button_normal, 
.c_dark_button, 
.c_operator_button, 
.c_e_button, 
.c_pi_button,
.c_equals_button {
  height: 54px;
  width: 72px;
  background-color: #353535;
  border: 1px solid #3D3E3E;
  border-radius: 6px;
  margin: 4px 4px;
  display: flex;
  box-shadow: 1px 1px 1px 0px #373A3B;
  -webkit-mask-image: url("../assets/grit.png");
  mask-image: url("../assets/grit.png");
  color: rgb( 240, 240, 240 );
}
.c_button,
.c_e_button, 
.c_pi_button {
  width: 72px;
}

/**
 * over ride for specific buttons
 */ 
.c_pi_button {
  font-size: 140%;
}
.c_pi_button:hover {
  cursor: pointer;
  background-color: #454545;
  -webkit-mask-image: none;
}
.c_e_button {
  font-size: 180%;
}
.c_e_button:hover {
  cursor: pointer;
  background-color: #454545;
  -webkit-mask-image: none;
}
.c_button:hover {
  cursor: pointer;
  background-color: #454545;
}
.c_equals_button {
  width: calc(34% + 15px);
  background-color: #D7312D;
  -webkit-mask-image: none;
}
.c_equals_button:hover {
  cursor: pointer;
  background-color: #E7413D;
  -webkit-mask-image: none;
}
.c_button_normal {
  background-color: #bbb;
  color: #000 !important;
  font-weight: 100;
}
.c_button_normal:hover {
  cursor: pointer;
  background-color: #ccc;
  -webkit-mask-image: none;
}
.c_dark_button {
  background-color: #888;
   -webkit-mask-image: none;
}
.c_dark_button:hover {
  cursor: pointer;
  background-color: #595A5B;
  -webkit-mask-image: none;
}
.c_operator_button {
  background-color: #F3923D;
  font-size: 125%;
  -webkit-mask-image: none;
}
.c_operator_button:hover {
  cursor: pointer;
  background-color: #FFA24D;
  -webkit-mask-image: none;
}
.c_extend_button:hover {
  cursor: pointer;
  background-color: #999C9D;
}

#input {
  /* the place where the user enters in the calculation */ 
  border-radius: 2px 2px 1px 1px;
  height: 95px;
  width: 93%;
  background-color: #DDD;
  font-size: 190%;
  color: #000;
  font-weight: 60;
  text-align: right;
  margin: 40px auto; 
  border: 1px solid #888;
  box-shadow: 0 -40px 0 50px #E7DDDB;
}

#input:focus {
  outline:0;
}

.button_text {
  /* the text node for the calculator */ 
  margin: auto; 
  text-align: center; 
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 115%;
  font-weight: 80;
}