/**
 * Learning App
 * calculator.css
 *
 * @author Brandon Li <brandon.li820@icloud.com> 
 * Created on 1/17/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * style the main elements of the page
 */

html, body{
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  background: #DEDAD8;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

#calculator_wrapper{
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}

.backToDashboard{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  box-shadow: 1px 2px 5px 2px #4D4E4E;
}

.backToDashboard:hover{
  cursor: pointer;
}

#backToDashboardButton{
  width: 90px;
  height: 90px;
  margin: auto auto 2% 0%;
}

#helpButton{
  width: 55px;
  height: 55px;
  margin: auto auto 0% 80%;
}

#calculator{
  background: #515151;
  border: 20px solid #515151;  
  border-radius: 5px;
  margin:  0 19%;
  display: flex;
  flex-direction: column;
  padding: 0.1%;
  box-shadow: 
    0 0 0 1px #212223,
    2px 2px 6px 4px #4D4E4E;
}


